.left-side-menu-dark .metismenu li a[aria-expanded=true] {
  color: #fff !important
}

.left-side-menu-dark .left-side-menu #sidebar-menu>ul>li>a.active {
  color: #fff !important;
  background-color: #434e59 !important;
  border-right-color: #fff !important
}

.dt-buttons {
  float: right;
  margin-left: 1.5rem
}

.dataTables_filter {
  float: right
}

.dataTables_length {
  float: left
}

a.line-item {
  cursor: pointer
}

.table.order-line-item tr:nth-of-type(even),
.table.order-line-item tr:nth-of-type(odd) {
  background: #fff
}

.order-service-table td {
  vertical-align: middle
}

.order-documents-preview {
  padding: 35px 0 0 0
}

.text-tag {
  background: red;
  padding: 2px;
  border-radius: 10px;
  color: #fff;
  top: -.9em;
  font-size: 8px
}

#auth-login-modal {
  background-color: rgba(0, 0, 0, .5)
}

.custom-error-div {
  color: red
}

.info-text-tag {
  background: #3f51b5 !important;
  padding: 2px 2px;
  border-radius: 10px;
  color: #fff;
  margin-top: 16px;
  font-size: 7px;
  left: 5em
}

.price-input .input::before {
  margin-left: 5px;
  top: 39px;
  font-size: 13px;
  content: "$0.";
  position: absolute
}

.price-input .input input {
  padding-left: 23px !important
}

.fee-input .input::before {
  margin-left: 5px;
  top: 39px;
  font-size: 13px;
  content: "$";
  position: absolute
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate
}

@keyframes skeleton-loading {
  0% {
    background-color: #c1cfd6
  }

  100% {
    background-color: #eff3f4
  }
}

.skeleton-text {
  width: 100%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.skeleton-text__body {
  width: 75%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.skeleton-footer {
  width: 30%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.platform-tbody td.skeleton-last-item {
  display: none
}

.manage-billing-popup-list .select2-container {
  width: 200px !important;
  max-width: 200px !important;
  display: block
}

.manage-billing-popup-list td,
.manage-billing-popup-list th {
  vertical-align: middle
}

.manage-billing-popup-list tr.even {
  background: #f0f8ff
}

.mark-all {
  margin-left: 85px;
  position: relative;
  top: 40px
}

.font-awesome-ban-red {
  color: #fff;
  background-color: red;
  border-radius: 58px;
  padding: .4em .3em .3em .3em
}

.checkbox input[type=checkbox]:checked+label::after {
  display: block
}

.sso-img-height {
  height: 20px
}

.fs-8rem {
  font-size: .82rem !important
}

.text-inherit {
  color: inherit !important
}

.text-inherit:hover {
  color: inherit !important;
  text-decoration: inherit !important
}

.clipboard-container {
  position: relative;
  display: inline-block
}

.clipboard-container .btn-clipboard {
  width: 80px;
  border: solid 1px #d3d3d3;
  text-align: center;
  padding: 2px;
  color: #000;
  font-size: .7875rem;
  line-height: 1.5;
  border-radius: .15rem
}

.clipboard-container .copy-text-info {
  display: none;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px 10px;
  position: absolute;
  right: -32px;
  top: 34%;
  transform: translateY(-50%);
  font-size: .8em;
  white-space: nowrap
}


.order-list-item-progress {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 13px;
  margin-left: 10px;
}

.progresss-badge.badge {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  line-height: 0.8;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 2px;
  padding: 0.35em 0.4em;
  display: block;
  margin: 0 auto 2px;
  max-width: 30px;
  border-radius: 2px;
}

.badge-lg {
  width: 45px;
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 35px;
}

.badge-circle {
  min-width: auto;
  border-radius: 25px !important;
  max-width: 25px !important;
  padding: 0 !important;
  line-height: 25px !important;
}

.badge-green {
  background: #a8d85b;
}

/* above code is being copied from existing stylesheets to just make accurate page layout no need of adding these above styles
 as the eexist in admin portal
*/


/* below are the custom styles for the new share document page layout */

.sharedDocumnent_tablist {
  position: relative;
  background-color: #F3F5F8;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.25rem;
  border-radius: 5px;
}

.sharedDocumnent_tablist::after {
  position: absolute;
  content: "";
  background-color: #D8DDDF;
  left: var(--tab-left);
  right: var(--tab-right);
  width: var(--tab-width);
  height: var(--tab-height);
  transition: all 0.5s ease-in-out;
  z-index: 0;
  border-radius: 5px;
}

.sharedDocumnent_tablist .nav-link {
  position: relative;
  z-index: 1;
  color: var(--bs-nw-gray-600);
  font-size: 14px;
}

.sharedDocumnent_tablist .nav-link[aria-selected=true],
.sharedDocumnent_tablist .nav-link.active {
  color: #272A2E;
  font-weight: 700;
}

.sharedDocTabContent .document-viewer iframe,
.sharedDocTabContent .document-viewer .file-loader {
  height: 705px;
}

.sharedDocTabContent .document-viewer .progress {
  height: 1.2rem !important;
  font-size: 1rem !important;
  font-weight: 600;
  text-transform: uppercase;
}

.sharedDocTabContent .document-viewer .progress .progress-bar {
  color: #000;
}

.sharedDocTabContent .accordion a[data-toggle=collapse][aria-expanded=true] .fe-chevron-down {
  transform: rotate(180deg);
}

.sharedDocTabContent .col-form-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sharedDocTabContent .dropzone-previews {
  gap: 5px;
}

.sharedDocTabContent .dropzone-previews:has(.file-preview-pill) {
  margin-top: 10px;
}

.sharedDocTabContent .dropzone-previews .icon-wrapper {
  width: 30px;
}

.sharedDocTabContent .dropzone-previews .file-icon {
  height: inherit;
}

.ai-badge {
  padding: 5px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #F82B02;
}

.bg-100 {
  background-color: #00BA70 !important;
}

.bg-90 {
  background-color: #1AAC66 !important;
}

.bg-80 {
  background-color: #339E5C !important;
}

.bg-70 {
  background-color: #4D9053 !important;
}

.bg-60 {
  background-color: #678249 !important;
}

.bg-50 {
  background-color: #80733F !important;
}

.bg-40 {
  background-color: #9A6535 !important;
}

.bg-30 {
  background-color: #B4572C !important;
}

.bg-20 {
  background-color: #CD4922 !important;
}

.bg-10 {
  background-color: #E73B18 !important;
}

.generalSection {
  min-height: 0;
  transition: all 1s ease-in-out;
}

.placeholder {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.placeholder::before {
  position: absolute;
  content: "";
  inset: -1px;
  border-radius: 2px;
  z-index: 1;
  animation: skeleton-loading 1s linear infinite alternate;
}

.text-loader {
  animation: text 1s linear infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(300deg);
    content: "﫢";
  }
}

.multi-match-icon {
  display: none;
}

.normal-select {
  padding-left: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23d0d0d0' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E") no-repeat right 0.75rem center / 10px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.normal-select {
  color: #999;
}

.normal-select:valid {
  color: #6c757d;
}



@media (max-width: 1300px) {

  .placeholderSection .form-row .form-group,
  .aiFormSection .form-row .form-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}