.left-side-menu-dark .metismenu li a[aria-expanded=true] {
  color: #fff !important
}

.left-side-menu-dark .left-side-menu #sidebar-menu>ul>li>a.active {
  color: #fff !important;
  background-color: #434e59 !important;
  border-right-color: #fff !important
}

.dt-buttons {
  float: right;
  margin-left: 1.5rem
}

.dataTables_filter {
  float: right
}

.dataTables_length {
  float: left
}

a.line-item {
  cursor: pointer
}

.table.order-line-item tr:nth-of-type(even),
.table.order-line-item tr:nth-of-type(odd) {
  background: #fff
}

.order-service-table td {
  vertical-align: middle
}

.order-documents-preview {
  padding: 35px 0 0 0
}

.text-tag {
  background: red;
  padding: 2px;
  border-radius: 10px;
  color: #fff;
  top: -.9em;
  font-size: 8px
}

#auth-login-modal {
  background-color: rgba(0, 0, 0, .5)
}

.custom-error-div {
  color: red
}

.info-text-tag {
  background: #3f51b5 !important;
  padding: 2px 2px;
  border-radius: 10px;
  color: #fff;
  margin-top: 16px;
  font-size: 7px;
  left: 5em
}

.price-input .input::before {
  margin-left: 5px;
  top: 39px;
  font-size: 13px;
  content: "$0.";
  position: absolute
}

.price-input .input input {
  padding-left: 23px !important
}

.fee-input .input::before {
  margin-left: 5px;
  top: 39px;
  font-size: 13px;
  content: "$";
  position: absolute
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate
}

@keyframes skeleton-loading {
  0% {
    background-color: #c1cfd6
  }

  100% {
    background-color: #eff3f4
  }
}

.skeleton-text {
  width: 100%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.skeleton-text__body {
  width: 75%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.skeleton-footer {
  width: 30%;
  height: .7rem;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.platform-tbody td.skeleton-last-item {
  display: none
}

.manage-billing-popup-list .select2-container {
  width: 200px !important;
  max-width: 200px !important;
  display: block
}

.manage-billing-popup-list td,
.manage-billing-popup-list th {
  vertical-align: middle
}

.manage-billing-popup-list tr.even {
  background: #f0f8ff
}

.mark-all {
  margin-left: 85px;
  position: relative;
  top: 40px
}

.font-awesome-ban-red {
  color: #fff;
  background-color: red;
  border-radius: 58px;
  padding: .4em .3em .3em .3em
}

.checkbox input[type=checkbox]:checked+label::after {
  display: block
}

.sso-img-height {
  height: 20px
}

.fs-8rem {
  font-size: .82rem !important
}

.text-inherit {
  color: inherit !important
}

.text-inherit:hover {
  color: inherit !important;
  text-decoration: inherit !important
}

.clipboard-container {
  position: relative;
  display: inline-block
}

.clipboard-container .btn-clipboard {
  width: 80px;
  border: solid 1px #d3d3d3;
  text-align: center;
  padding: 2px;
  color: #000;
  font-size: .7875rem;
  line-height: 1.5;
  border-radius: .15rem
}

.clipboard-container .copy-text-info {
  display: none;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px 10px;
  position: absolute;
  right: -32px;
  top: 34%;
  transform: translateY(-50%);
  font-size: .8em;
  white-space: nowrap
}


.order-list-item-progress {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 13px;
  margin-left: 10px;
}

.progresss-badge.badge {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  line-height: 0.8;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 2px;
  padding: 0.35em 0.4em;
  display: block;
  margin: 0 auto 2px;
  max-width: 30px;
  border-radius: 2px;
}

.badge-lg {
  width: 45px;
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 35px;
}

.badge-circle {
  min-width: auto;
  border-radius: 25px !important;
  max-width: 25px !important;
  padding: 0 !important;
  line-height: 25px !important;
}

.badge-green {
  background: #a8d85b;
}

/* above code is being copied from existing stylesheets to just make accurate page layout no need of adding these above styles
 as the eexist in admin portal
*/


/* below are the custom styles for the new share document page layout */

.sharedDocumnent_tablist {
  position: relative;
  background-color: #F3F5F8;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.25rem;
  border-radius: 5px;
}

.sharedDocumnent_tablist::after {
  position: absolute;
  content: "";
  background-color: #D8DDDF;
  left: var(--tab-left);
  right: var(--tab-right);
  width: var(--tab-width);
  height: var(--tab-height);
  transition: all 0.5s ease-in-out;
  z-index: 0;
  border-radius: 5px;
}

.sharedDocumnent_tablist .nav-link {
  position: relative;
  z-index: 1;
  color: var(--bs-nw-gray-600);
  font-size: 14px;
}

.sharedDocumnent_tablist .nav-link[aria-selected=true],
.sharedDocumnent_tablist .nav-link.active {
  color: #272A2E;
  font-weight: 700;
}

.sharedDocTabContent .document-viewer iframe,
.sharedDocTabContent .document-viewer .file-loader {
  height: 705px;
}

.sharedDocTabContent .document-viewer .progress {
  height: 1.2rem !important;
  font-size: 1rem !important;
  font-weight: 600;
  text-transform: uppercase;
}

.sharedDocTabContent .document-viewer .progress .progress-bar {
  color: #000;
}

.sharedDocTabContent .accordion a[data-toggle=collapse][aria-expanded=true] .fe-chevron-down {
  transform: rotate(180deg);
}

.sharedDocTabContent .col-form-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sharedDocTabContent .dropzone-previews {
  gap: 5px;
}

.sharedDocTabContent .dropzone-previews:has(.file-preview-pill) {
  margin-top: 10px;
}

.sharedDocTabContent .dropzone-previews .icon-wrapper {
  width: 30px;
}

.sharedDocTabContent .dropzone-previews .file-icon {
  height: inherit;
}

.ai-badge {
  padding: 5px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #F82B02;
}

.bg-100 {
  background-color: #00BA70 !important;
}

.bg-90 {
  background-color: #1AAC66 !important;
}

.bg-80 {
  background-color: #339E5C !important;
}

.bg-70 {
  background-color: #4D9053 !important;
}

.bg-60 {
  background-color: #678249 !important;
}

.bg-50 {
  background-color: #80733F !important;
}

.bg-40 {
  background-color: #9A6535 !important;
}

.bg-30 {
  background-color: #B4572C !important;
}

.bg-20 {
  background-color: #CD4922 !important;
}

.bg-10 {
  background-color: #E73B18 !important;
}

.generalSection {
  min-height: 0;
  transition: all 1s ease-in-out;
}

.placeholder {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.placeholder::before {
  position: absolute;
  content: "";
  inset: -1px;
  border-radius: 2px;
  z-index: 1;
  animation: skeleton-loading 1s linear infinite alternate;
}

.text-loader {
  animation: text 1s linear infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(300deg);
    content: "﫢";
  }
}

.multi-match-icon {
  display: none;
}

.normal-select {
  padding-left: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23d0d0d0' d='M0 0l5 6 5-6z'/%3E%3C/svg%3E") no-repeat right 0.75rem center / 10px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.normal-select {
  color: #999;
}

.normal-select:valid {
  color: #6c757d;
}

.scanPrice {
  position: relative;
}

.scanPrice::before {
  content: "$";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}


@media (max-width: 1300px) {

  .placeholderSection .form-row .form-group,
  .aiFormSection .form-row .form-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* custom modal and css */

.SOP-model {
  letter-spacing: 0.5px !important;
  font-size: 12px;
}

.SOP-model .service-step-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}

.SOP-model .service-step-group .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  left: -38px;
  cursor: pointer;
  justify-content: center;
}

.SOP-model .service-step-group .step::after {
  content: "";
  position: absolute;
  width: 68%;
  height: 2.5px;
  background-color: var(--bs-nw-gray-400);
  top: 12px;
  left: 64%;
  z-index: 1;
}

.SOP-model .service-step-group .step.completed::after {
  background-color: var(--bs-green);
}

.SOP-model .service-step-group .step:last-child::after {
  display: none;
}

.SOP-model .service-step-group .step .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--bs-nw-gray-600);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  left: -2%;
}

.SOP-model .service-step-group .step .circle.completed {
  background-color: var(--bs-green);
  border-color: var(--bs-green);
  background-image: url("../images/icons/icons/light-white-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.SOP-model .service-step-group .step .circle.active {
  border-color: var(--bs-filejet-purple-indigo);
}

.SOP-model .service-step-group .step .circle.active::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #a8b1ff;
  border-radius: 50%;
}

.SOP-model .service-step-group .step .circle.active::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--bs-filejet-purple-indigo);
  border-radius: 50%;
}

.SOP-model .service-step-group .step .step-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: normal;
  color: var(--bs-nw-gray-600);
  text-align: center;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.04px;
}

.circle.active+.SOP-model .service-step-group .step .step-text {
  color: var(--bs-filejet-purple-indigo);
  font-weight: bold;
}

.SOP-model .service-step3 .step {
  left: -78px !important;
}

.SOP-model .service-step3::after {
  width: 80% !important;
  left: 58% !important;
}

.SOP-model .service-step3 .step3-text {
  width: 206px !important;
  margin-top: 8px;
  font-size: 12px;
  font-weight: normal;
  color: var(--bs-nw-gray-600);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.04px;
}

.SOP-model .service-step-group2 .step {
  left: -97px !important;
}

.SOP-model .p-3 {
  padding: 20px !important;
}

.SOP-model .w-90 {
  width: 90%;
}

.SOP-model p {
  letter-spacing: normal !important;
}

.SOP-model .label {
  margin-bottom: 0px !important;
  line-height: initial;
}

.SOP-model .form-control {
  min-height: 38px;
  padding: 0px 10px;
  padding-right: 15px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #d2d5da;
  border-radius: 4.5px;
  margin-bottom: 0px;
  box-shadow: none !important;
  color: var(--bs-filejet-medium-gray);
  background-image: url("../images/icons/input-edit.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.SOP-model .form-control::-moz-placeholder {
  color: var(--bs-filejet-medium-gray-opacity-50);
  opacity: 1 !important;
}

.SOP-model .form-control::placeholder {
  color: var(--bs-filejet-medium-gray-opacity-50);
  opacity: 1 !important;
}

.SOP-model .form-select {
  min-height: 38px !important;
  padding: 0px 10px !important;
  padding-right: 15px !important;
  font-size: 12px !important;
  background-color: transparent;
  border: 1px solid #d2d5da !important;
  border-radius: 4.5px !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  color: var(--bs-filejet-medium-gray);
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon-angle-bottom.svg") !important;
  background-size: 10px !important;
  font-weight: normal !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  width: 100%;
  cursor: pointer !important;
}

.SOP-model .form-select:focus-within {
  border: 2px solid var(--bs-filejet-purple-indigo) !important;
  background-color: #f2f2ff;
}

.SOP-model select.form-select:invalid {
  color: var(--bs-filejet-medium-gray-opacity-50);
}

.SOP-model .calander-input .form-control {
  background-image: url("../images/icons/calander-icon-light.svg") !important;
  background-size: 16px !important;
  background-position-x: 98% !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important;
}

.SOP-model input[type=text]:focus-visible {
  border: 1px solid #d2d5da !important;
}

.SOP-model .form-label {
  margin-bottom: 0.5rem !important;
  font-size: 12px !important;
  font-weight: bold;
  color: var(--bs-gray-dark);
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
}

.SOP-model .form-check label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  letter-spacing: normal;
  color: var(--bs-nw-gray-600);
  font-weight: normal;
  cursor: pointer;
}

.SOP-model .form-check .form-check-label,
.SOP-model .form-check-inline .form-check-label {
  display: block;
  line-height: 12px;
}

.SOP-model .form-check-input {
  border: 1.5px solid #adadad;
  cursor: pointer;
  position: relative;
  padding: 0px;
}

.SOP-model .form-check-input[type=checkbox]:checked {
  background-color: #272727;
  border: 1.5px solid #272727 !important;
  cursor: pointer;
}

.SOP-model .form-check-label-info {
  font-size: 12px !important;
  letter-spacing: normal;
  color: var(--bs-nw-gray-600);
  font-weight: normal;
}

.SOP-model .mandatory {
  color: var(--bs-red);
}

.SOP-model .modal-header {
  padding: 15px 20px;
  padding-bottom: 30px;
}

.SOP-model .modal-body {
  margin-bottom: 80px;
  padding: 20px;
  padding-top: 0px;
  overflow-x: hidden;
}

.SOP-model .modal-content {
  padding: 15px 15px;
}

.SOP-model .modal-footer {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px 40px;
  left: 0px;
  box-shadow: 0px 0.627px 25.067px 0px rgba(0, 0, 0, 0.06), 0px 0.188px 7.513px 0px rgba(0, 0, 0, 0.04), 0px 0.1px 3.99px 0px rgba(0, 0, 0, 0.03), 0px 0.042px 1.66px 0px rgba(0, 0, 0, 0.02);
  height: 75px;
}

.SOP-model .btn-link {
  font-size: 12px;
  color: var(--bs-nw-gray-400);
  text-transform: uppercase;
  box-shadow: none;
}

.SOP-model .btn-info {
  height: 38px;
  background-color: var(--bs-filejet-purple-indigo);
  border-color: var(--bs-filejet-purple-indigo);
}

.SOP-model .no-bg {
  background-image: none !important;
  box-shadow: none;
}

.SOP-model .assign-user {
  display: flex;
  flex-direction: column;
}

.SOP-model .accordion button {
  color: var(--bs-black-primary);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px !important;
  margin-bottom: 10px;
  padding: 20px;
}

.SOP-model .accordion-body {
  padding: 20px;
}

.SOP-model .accordion-item {
  box-shadow: none !important;
}

.SOP-model .dataTables_wrapper thead th {
  font-size: 0.8rem !important;
  padding: 0.9rem 0.9rem !important;
  text-transform: capitalize !important;
  border: none;
}

.SOP-model .dataTables_wrapper thead th:first-child::after {
  display: none !important;
}

.SOP-model .dataTables_wrapper thead th:first-child::before {
  display: none !important;
}

.SOP-model .dataTables_wrapper tbody td {
  font-size: 0.8rem !important;
  padding: 0.9rem 0.9rem !important;
  border-top-width: 1px;
  border-bottom-width: 0;
}

.SOP-model .dataTables_wrapper.no-footer .dataTables_scrollBody {
  overflow: unset !important;
  height: 100% !important;
  max-height: 100% !important;
}

.SOP-model .dataTables_wrapper .child-row {
  background-color: white !important;
}

.SOP-model .dataTables_wrapper .child-row td {
  border-top: none !important;
  font-size: 0.7rem !important;
}

.SOP-model .table {
  margin-bottom: 0px !important;
}

.SOP-model .table thead th {
  font-size: 0.8rem !important;
  text-transform: capitalize !important;
  border: none;
  padding: 0.9rem 0.9rem !important;
}

.SOP-model .table tbody td {
  font-size: 0.8rem !important;
  border-top-width: 1px;
  border-bottom-width: 0;
  padding: 0.9rem 0.9rem !important;
}

.SOP-model .table tfoot tr td {
  font-size: 0.8rem !important;
  border-top-width: 1px;
  border-bottom-width: 0 !important;
  padding: 10px 10px 6px 10px;
}

.SOP-model .odd {
  background-color: #f3f5f8 !important;
}

.SOP-model .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/icon-angle-top.svg");
}

.SOP-model .form-check-input[type=checkbox] {
  border-radius: 0.1875rem;
}

.SOP-model .form-check-input[type=radio] {
  background-image: url("../images/icons/view-checkbox-inactive.svg") !important;
  border: none !important;
}

.SOP-model .form-check-input[type=radio]:checked {
  background-image: url("../images/icons/view-checkbox-active.svg") !important;
}

.SOP-model .typecheckradio .form-check-input[type=radio] {
  background-image: url("../images/icons/radio-check-default.svg") !important;
  border-radius: 2px;
}

.SOP-model .typecheckradio .form-check-input[type=radio]:checked,
.SOP-model .form-check-input[type=checkbox]:checked {
  background-image: url("../images/icons/radio-check.svg") !important;
}

.SOP-model .form-check {
  gap: 0.5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.SOP-model .view-options .view-label {
  color: var(--bs-nw-gray-600);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.SOP-model .view-options .form-check label {
  text-transform: capitalize !important;
  font-weight: normal !important;
  letter-spacing: normal;
  color: var(--bs-nw-gray-600);
}

.SOP-model .view-options .non-active-check {
  color: var(--bs-nw-gray-400);
}

.SOP-model .btn-small {
  padding: 10px 20px !important;
  margin: 0px !important;
  text-align: center;
  font-size: 12px !important;
  font-weight: bold !important;
  background-color: #a8b1ff;
  border: 0px;
  color: var(--bs-dark) !important;
  line-height: 20px;
  border-radius: 5px !important;
  margin-right: 10px !important;
}

.SOP-model .custom-dropdown select:focus {
  box-shadow: none;
  border: 2px solid var(--bs-filejet-purple-indigo);
  background-color: #f2f2ff;
  color: var(--bs-filejet-medium-gray);
  font-weight: bold;
}

.SOP-model .custom-dropdown option {
  box-shadow: none;
  background-color: white;
  color: var(--bs-filejet-medium-gray);
}

.SOP-model .custom-dropdown-state option {
  box-shadow: none;
  background-color: white;
  color: var(--bs-filejet-medium-gray);
}

.SOP-model .payment-card {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.SOP-model .methodiv {
  width: 130px;
}

.SOP-model .methodiv:focus-visible {
  border: 1px solid #818181 !important;
  outline: 0 !important;
  margin-right: 5px;
}

.SOP-model .addnew {
  font-size: 12px;
  color: var(--bs-gray-dark);
}

.SOP-model .addnew .form-check label {
  font-size: 12px !important;
  color: var(--bs-nw-gray-600);
  letter-spacing: normal !important;
  text-transform: capitalize !important;
}

.SOP-model .filledstate {
  flex-direction: column;
}

.SOP-model .filledstate .inputsfilled {
  background-color: #f3f5f8;
  padding: 15px;
}

.SOP-model .filledstate button {
  color: var(--bs-filejet-purple-indigo);
  font-size: 12px;
}

.SOP-model .filledstate .groupName {
  font-size: 14px;
}

.SOP-model .invitefilledstate {
  flex-direction: column;
}

.SOP-model .invitefilledstate .inputsfilled {
  background-color: #f3f5f8;
  padding: 15px;
}

.SOP-model .invitefilledstate button {
  color: var(--bs-filejet-purple-indigo);
  font-size: 12px;
}

.SOP-model .invitefilledstate .groupName {
  font-size: 14px;
}

.SOP-model .alert {
  display: flex;
}

.SOP-model .stakeholdersform .addmoreManager a {
  text-decoration: none;
  color: var(--bs-filejet-purple-indigo);
}

.SOP-model .stakeholdersform .ui-menu-item a {
  text-decoration: none !important;
  color: inherit;
}

.SOP-model .stakeholdersform .ui-menu-item-wrapper.ui-state-active {
  background-color: #F0F0F0 !important;
  color: #000 !important;
  border: none;
  transition: none !important;
}

.SOP-model .stakeholdersform .ui-menu-item-wrapper:hover {
  background-color: #F0F0F0 !important;
  color: #000 !important;
  border: none;
  transition: none !important;
}

.SOP-model .stakeholdersform .search-autocomplete-result p {
  margin-top: 0;
  margin-bottom: 0;
}

.SOP-model .stakeholdersform .search-autocomplete-result .ui-menu-item p {
  padding: 10px;
}

.SOP-model hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #272727;
  opacity: 0.4;
}

.SOP-model .filter2-dropdown .multi-select-container {
  gap: 5px;
  padding: 5px 10px;
  min-height: 38px;
  align-items: center;
}

.SOP-model .filter2-dropdown .multi-select-container::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/icon-angle-bottom.svg") !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 11px;
}

.SOP-model .filter2-dropdown .multi-select-container.show::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/icon-angle-top.svg") !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 11px;
}

.SOP-model .filter2-dropdown .multi-select-container .search-input:focus-within {
  color: #000;
}

.SOP-model .filter2-dropdown .multi-select-container:focus-within .search-input::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.SOP-model .filter2-dropdown .multi-select-container:focus-within .search-input::placeholder {
  color: #000;
  opacity: 1;
}

.SOP-model .filter2-dropdown .selected-option {
  background-color: #2E2E36;
  padding: 3px 5px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  line-height: normal;
}

.SOP-model .filter2-dropdown .selected-option-text {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.SOP-model .filter2-dropdown .dropdown-search-input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid var(--bs-border-color);
}

.SOP-model .filter2-dropdown .dropdown-search-input:focus-visible {
  border: 1px transparent !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
  background-color: #f3f5f8;
}

.SOP-model .filter2-dropdown .selected-option .remove-option {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 12px;
}

.SOP-model .filter2-dropdown .search-input {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.SOP-model .filter2-dropdown .dropdown-menu {
  width: 98%;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.SOP-model .filter2-dropdown ul li label {
  margin: 0px;
  border-bottom: 1px solid var(--bs-border-color);
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize !important;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: normal;
  overflow-wrap: break-word;
}

.SOP-model .filter2-dropdown .dropdown-item.active,
.SOP-model .filter2-dropdown .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #a5a4a4;
}

.SOP-model .additional-search .multi-select-container.multi-select-container:focus-within {
  border: 2px solid var(--bs-filejet-purple-indigo) !important;
}

.SOP-model .additional-search input {
  padding: 0;
  color: var(--bs-filejet-medium-gray-opacity) !important;
  font-size: 12px !important;
  margin-right: 10px !important;
}

.SOP-model .additional-search .multi-select-container {
  border: 1px solid #d2d5da !important;
  color: var(--bs-filejet-medium-gray-opacity-50) !important;
  font-weight: 500 !important;
}

.SOP-model .additional-search .multi-select-container:focus-within {
  border: 2px solid var(--bs-filejet-purple-indigo) !important;
  background-color: #f2f2ff !important;
  color: var(--bs-filejet-medium-gray) !important;
  font-weight: bold;
}

.SOP-model .additional-search .multi-select-container::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/icon-angle-bottom.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 10px;
}

.SOP-model .additional-search .multi-select-container.show::after {
  background-image: url("../images/icons/icon-angle-top.svg");
}

.SOP-model .additional-search .dropdown-search-input {
  width: 100%;
  padding: 10px 15px;
}

.SOP-model .tablefilter .multi-select-container::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/search-light.svg") !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 12px;
}

.SOP-model .tablefilter .multi-select-container.show::after {
  background-image: url("../images/icons/search-light.svg") !important;
}

.SOP-model .bg-filled {
  background-color: #f3f5f8;
  background-image: none;
  border: 1.5px solid #d2d5da;
}

.SOP-model .filled-placeholder::-moz-placeholder {
  color: var(--bs-filejet-medium-gray) !important;
}

.SOP-model .filled-placeholder::placeholder {
  color: var(--bs-filejet-medium-gray) !important;
}

.SOP-model .fs-11 {
  font-size: 11px;
}

.SOP-model .fs-12 {
  font-size: 12px !important;
}

.SOP-model .uploadtable {
  font-size: 10px;
}

.SOP-model .annualtable .dataTables_info,
.SOP-model .entitytable .dataTables_info,
.SOP-model .uploadtable .dataTables_info,
.SOP-model .assign-user .dataTables_info {
  display: none;
}

.SOP-model .annualtable .dataTables_wrapper .dataTables_paginate,
.SOP-model .entitytable .dataTables_wrapper .dataTables_paginate,
.SOP-model .uploadtable .dataTables_wrapper .dataTables_paginate,
.SOP-model .assign-user .dataTables_wrapper .dataTables_paginate {
  display: none;
}

.SOP-model .annualtable .dataTables_wrapper .dataTables_length,
.SOP-model .entitytable .dataTables_wrapper .dataTables_length,
.SOP-model .uploadtable .dataTables_wrapper .dataTables_length,
.SOP-model .assign-user .dataTables_wrapper .dataTables_length {
  display: none;
}

.SOP-model .alert-danger {
  color: #000000;
  background-color: #fdebea;
}

.SOP-model .alert-success {
  --bs-alert-color: #0d2c36;
  --bs-alert-bg: #d0f4dc;
}

.SOP-model .summarystroke {
  width: 109.6%;
  position: relative;
  left: -20px;
  border: 1.5px solid #b2b2b2;
}

.SOP-model ::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  outline: 1px solid var(--bs-tranparent);
  border-radius: 0.5rem;
}

.SOP-model ::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgb(222, 222, 222);
  border-radius: 0.5rem;
}

.SOP-model .tooltipText.tooltipRight {
  top: 50%;
  transform: translateY(-53%) translateX(-58%);
  overflow-wrap: break-word;
  text-transform: capitalize !important;
}

.SOP-model .tooltipText.tooltipRight::after {
  content: "";
  position: absolute;
  transform: rotate(-180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6e72ee transparent transparent;
  top: 50%;
  right: -9px !important;
}

.SOP-model .assign-user th:nth-child(1),
.SOP-model .assign-user td:nth-child(1) {
  width: 10px !important;
}

.SOP-model .juridction-fixed-width {
  width: 80px !important;
}

.SOP-model .assign-user .dataTables_wrapper {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.SOP-model .dataTables_scrollHead {
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 1;
}

.SOP-model .dataTables_wrapper .dataTable thead th.sorting::before {
  right: 5px;
}

.SOP-model .dataTables_wrapper .dataTable thead th.sorting::after {
  right: 5px;
}

.SOP-model .additional-search input:focus-within {
  color: #000000 !important;
}

.SOP-model input[type=radio]:checked+.rights-label {
  color: var(--bs-filejet-medium-gray) !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.SOP-model input[type=checkbox]:checked+.rights-label {
  color: var(--bs-filejet-medium-gray) !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.SOP-model #individualForm3 {
  display: none;
}

.SOP-model .defaultdiv {
  width: 68px;
}

.SOP-model .defaultdiv .btn-outline-primary {
  text-transform: capitalize !important;
  color: var(--bs-filejet-purple-indigo);
  border-color: var(--bs-filejet-purple-indigo);
  line-height: normal;
}

.SOP-model .defaultdiv .btn-outline-success {
  text-transform: capitalize !important;
  color: #00BA70;
  border-color: #00BA70;
  line-height: normal;
}

.SOP-model .defaultdiv .btn-outline-primary:hover {
  background-color: var(--bs-filejet-purple-indigo);
  color: white;
}

.SOP-model .defaultdiv .btn-outline-success:hover {
  background-color: transparent !important;
  color: #00BA70;
}

.SOP-model .defaultdiv .opacity-50 {
  opacity: 0.25 !important;
}

.SOP-model .errorinput {
  border-color: #f03e2f;
  background-color: #fdebea;
}

.SOP-model .errorinput:focus {
  background-color: transparent;
  border: none;
}

.SOP-model .autocomplete-wrapper {
  position: relative;
  width: 300px;
}

.SOP-model .suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  z-index: 999;
  top: 42px;
  border-radius: 4px;
  display: none;
}

.SOP-model .suggestions .item {
  padding: 8px;
  cursor: pointer;
  font-size: 11px;
  line-height: normal;
}

.SOP-model .suggestions .item:hover {
  background-color: #eee;
}

.SOP-model .no-result {
  padding: 8px;
  color: #888;
}

.SOP-model .numberInput {
  max-width: 30px;
}

.SOP-model .incDecNum button.numDec {
  background-color: var(--bs-filejet-purple-indigo);
  width: 1rem !important;
  height: 1.2rem !important;
  padding: 0px;
  margin: 0px;
}

.SOP-model .incDecNum button.numInce {
  padding: 0px;
  width: 1rem !important;
  height: 1.2rem !important;
  margin: 0px;
  background-color: var(--bs-filejet-purple-indigo);
}

.SOP-model .datefile {
  margin-bottom: 0px !important;
}

.SOP-model .w-16 {
  width: 16%;
}

.SOP-model .managercheckbox-div {
  display: flex;
  align-items: start;
}

.SOP-model .radioDiv {
  display: flex;
}

.SOP-model .addmoreManager {
  display: none;
}

.SOP-model .section.show-addmore .addmoreManager {
  display: flex;
  justify-content: end;
}

.SOP-model .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: var(--bs-filejet-medium-gray-opacity-50) !important;
  font-weight: normal;
  font-size: 12px;
}

.SOP-model .select2-container {
  width: 100% !important;
}

.SOP-model .select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 38px !important;
  background-color: #fff;
  border: 1px solid #d2d5da !important;
  border-radius: 4.5px;
  box-shadow: none !important;
}

.SOP-model .select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--bs-filejet-medium-gray);
  line-height: 36px !important;
  font-weight: normal !important;
}

.SOP-model .select2-container .select2-selection--single .select2-selection__arrow {
  min-height: 38px !important;
  position: absolute;
  top: 1px;
  right: 2px !important;
  width: 20px;
  background-image: url("../images/icons/icon-angle-bottom.svg") !important;
  background-size: 10px !important;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 0px !important;
}

.SOP-model .select2-container .select2-selection--single .select2-selection__arrow b {
  border: none !important;
}

.SOP-model .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--bs-filejet-medium-gray);
}

.SOP-model .select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../images/icons/icon-angle-bottom.svg") !important;
  background-size: 10px !important;
  background-repeat: no-repeat;
  background-position-y: center;
}

.SOP-model .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none !important;
}

.SOP-model .select2-container--default .select2-results__option {
  /* color: var(--bs-filejet-medium-gray); */
  padding: 4px 6px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: normal;
}

.SOP-model .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #1967d2;
  color: white;
}

.SOP-model .select2-container--default.select2-container--focus .select2-selection--single {
  border: 2px solid var(--bs-filejet-purple-indigo) !important;
  background-color: #f2f2ff;
}

.SOP-model .select2-container--open .select2-dropdown {
  left: 0px !important;
}

.SOP-model svg {
  shape-rendering: geometricPrecision;
}

.SOP-model #collapseOne12.show~.service-titles {
  display: none;
}

.SOP-model #collapseOne123.show~.service-titles {
  display: none;
}

.SOP-model .entityheading {
  display: flex;
  width: 55%;
}

.SOP-model .custom-dropdown input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.SOP-model .select-box {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SOP-model .select-box::after {
  content: "▼";
  margin-left: auto;
  padding-left: 10px;
}

.SOP-model .priceInput::before {
  margin-left: 10px;
  margin-top: 9px;
  font-size: 13px;
  position: absolute;
  content: "$";
  color: var(--bs-filejet-medium-gray);
}

.SOP-model .priceInput input {
  padding-left: 20px;
}

.SOP-model .formError+input,
.SOP-model .formError+select,
.SOP-model .formError+textarea {
  background-color: #F5DAD2 !important;
  border-color: #FF0000 !important;
}

.SOP-model .formError+select+.select2 .select2-selection--single {
  background-color: #F5DAD2 !important;
  border-color: #FF0000 !important;
}

.SOP-model .h-25 {
  text-overflow: unset;
  white-space: normal;
  padding-top: 10px;
}

.SOP-model .checkdisabled {
  pointer-events: none;
}

.SOP-model .usertable th:nth-child(4),
.SOP-model .usertable td:nth-child(4) {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  word-break: break-word;
  /* Prevents overflow issues */
}

@media screen and (max-width: 3000px) {
  .SOP-model .dataTables_scroll .dataTables_scrollBody:has(.long-data-table-listing) {
    max-height: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    overflow-x: hidden !important;
  }
}

@media (min-width: 1600px) {
  .SOP-model .juridction-fixed-width {
    width: 88px !important;
  }

  .SOP-model .fixed-width-soi-table-50 {
    width: 50px;
  }

  .SOP-model .fixed-width-soi-table-70 {
    width: 70px;
  }
}

.SOP-model .ui-datepicker {
  display: none !important;
}



:root {
  --bs-gray-dark: #343a40;
  --bs-filejet-medium-gray: #3e484a;
  --bs-filejet-purple-indigo: #4744d1;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-lighter {
  font-weight: 100 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bolder {
  font-weight: 900 !important;
}

.modal-right.filter-slideout {
  --bs-modal-width: 550px !important;
}

.modal-right.fade {
  left: auto;
  right: -100%;
  opacity: 1;
  transition: right ease 0.3s;
  transform: none;
}

.modal-right.show {
  left: auto;
  right: 0;
}

.modal-right.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: none;
}

.modal-right.show .modal-dialog {
  transform: none;
}

.modal-dialog-end {
  display: flex;
  align-items: center;
  margin-right: 0 !important;
}

.modal-right {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 620px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: #212529;
  --bs-modal-bg: #F3F5F8;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  --bs-modal-margin: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  padding-right: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-right .modal-header {
  border-bottom: none;
}

.rounded-2 {
  border-radius: 0.375rem !important;
}

.modal-right .mt-4 {
  margin-top: 1.5rem !important;
}

.modal-right .my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.modal-right .mb-4 {
  margin-bottom: 1.5rem !important;
}

.modal-right .me-2 {
  margin-right: 0.5rem !important;
}

.modal-right .ms-2 {
  margin-left: 0.5rem !important;
}

.SOP-model .tab-content {
  padding: 0;
}

.modal-right .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  padding: 1.5rem;
}

.SOP-model .form-check-input {
  width: 1.15rem;
  height: 1.15rem;
  margin: 0px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #adadad;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
  position: relative;
}

@media (min-width: 576px) {
  .modal-right .modal-dialog {
    max-width: var(--bs-modal-width);
    margin: 1.75rem auto;
  }
}


.icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon[data-toggle=tooltip] {
  cursor: pointer;
}

.icon-xs {
  width: 0.8125rem;
  height: 0.8125rem;
}

.icon-sm {
  width: 1rem;
  height: 1rem;
}

.icon-smd {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-md {
  width: 1.625rem;
  height: 1.625rem;
}

.icon-lg {
  width: 1.875rem;
  height: 1.875rem;
}

.icon-xl {
  width: 2.3125rem;
  height: 2.3125rem;
}

.icon-xxl {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-circular {
  border-radius: 50%;
  overflow: hidden;
}

.rounded-3 {
  border-radius: 0.5rem;
}

.icon-new-group {
  background-image: url("../images/icons/new-group.svg");
  height: 26px;
  width: 28px;
  margin-left: 5px;
}

.icon-outline-info {
  background-image: url("../images/icons/outline-info.svg");
  float: right;
  margin-left: 10px !important;
  flex-shrink: 0
}


.customTooltip .tooltipText {
  white-space: normal !important;
}

.customTooltip .tooltipText {
  padding: 20px !important;
}

.customTooltip .tooltipText {
  text-transform: uppercase !important;
}

.customTooltip .tooltipText {
  visibility: hidden !important;
}

.customTooltip .tooltipText.tooltipBottom::after,
.customTooltip .tooltipText.tooltipTop::after,
.customTooltip .tooltipText {
  position: absolute !important;
}

.customTooltip .tooltipText.tooltipBottom::after,
.customTooltip .tooltipText.tooltipTop::after,
.customTooltip .tooltipText {
  left: 50% !important;
}

.customTooltip .tooltipText {
  opacity: 0 !important;
}

.customTooltip .tooltipText {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, var(--bs-text-opacity)) !important;
}

.customTooltip .tooltipText {
  border-radius: 0.5rem !important;
}

.tooltipText.tooltipBottom,
.customTooltip .tooltipText.tooltipTop::after {
  top: 100% !important;
}

.customTooltip .tooltipText.tooltipBottom::after {
  bottom: 100% !important;
}

.customTooltip .tooltipText {
  width: 210px;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  background-color: #6E72EE;
  margin-left: -105px;
  z-index: 999;
  transition: opacity 0.3s;
}

.customTooltip .tooltipText.tooltipTop {
  bottom: 135%;
}

.customTooltip .tooltipText.tooltipTop::after {
  content: "";
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6E72EE transparent transparent transparent;
}

.customTooltip .tooltipText.tooltipBottom::after {
  content: "";
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #6E72EE transparent;
}

.customTooltip:hover .tooltipText {
  opacity: 1 !important;
}

.customTooltip:hover .tooltipText {
  visibility: visible !important;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  opacity: 50%;
}